@charset "utf-8";
#cabeceraWeb {
    background-color: coral;
    
}
#navegacionPrincipal{
    background-color: burlywood;
}
#barraLateral{
background-color: cornflowerblue;
}
#contenidoPrincipal{
background-color: bisque;
}
#piePrincipal{
    background-color: aqua;
}