html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
   /* fin del reset*/
   body{
    font-size: 62.5%;
}
h1{
    font: normal 2.4em Verdana,Geneva,sans-serif;
    background: -webkit-linear-gradient(top, blue,rgb(107, 153, 252));
    width:45%;
    border-radius:10px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    color:white;
    box-shadow: blue 5px 5px 10px;
    text-shadow: black 2px 2px 3px;
}
h2{
    font: bold 1.7em Verdana,Geneva,sans-serif;
    margin: 0px;
    padding: 5px 0 5px 8px;
    color: black;

}
section{
    width: 91%;
    border-top: 1px dashed rgb(173, 172, 172);
    margin:15px auto;
}